.DataLeft {
  box-sizing: border-box;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  border-radius: 10px;
  display: inline-block;
  width: 48%;
  text-align: left;
  margin-right: 2%;
}

.DataRight {
  box-sizing: border-box;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  border-radius: 10px;
  display: inline-block;
  width: 48%;
  text-align: left;
  margin-left: 2%;
}

.Gas {
  color: #DB4437;
  margin-left: 5%;
  margin-right: 5%;
}

.EV {
  color: #4285F4;
  margin-left: 5%;
  margin-right: 5%;
}

.Efficiency {
  font-size: xx-large;
}

.h1 {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}