.Data {
  text-align: left;
}

.Eff {
  color: #4285F4;
  text-align: left;
}

.EC {
  color: #4285F4;
  text-align: left;
}

.MSRP {
  color: #4285F4;
  text-align: left;
}

.M {
  color: #4285F4;
  text-align: left;
}

.MPY {
  color: #4285F4;
  text-align: left;
}

